<%inherit file="../_layout.htm"/>
<%block name="head">
<title>服务定价 - 爱优店 - 品牌电商营销、新媒体营销推广、O2O解决方案的领导者|梅逸科技(上海)有限公司</title>
<meta name="keywords" content="移动支付解决方案,品牌电商服务,微信营销,电商ERP,微商城,o2o电子券系统,全渠道电子储值卡,社交礼品卡">
<meta name="description" content="爱优店,基于SaaS模式,向商家提供强大的移动电商解决方案,用科技创意,赋能商家深度o2o营销能力。">
</%block>
<%block name="main">
  <div class="container">
<div class="pt-5 text-center">
  <h3>服务定价</h3>
  <p class="lead">爱优店,基于SaaS模式,向商家提供强大的移动电商解决方案,用科技创意,赋能商家深度o2o营销能力。</p>
  <p class="lead">我们为我们的服务提供公开透明的报价</p>
</div>

<div class="row justify-content-center">
<div class="col-md-10 col-sm-11">

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="my-0">基础版</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">￥ 2388/年 <small class="text-muted">适用于1~5家门店的小型商户</small></h5>
        <ul class="list-unstyled mt-3 mb-4" style="min-height: 250px;">
          <li>微信小程序店铺</li>
          <li>3000+会员数支持</li>
          <li>订单系统</li>
         
          <li>库存SKU管理</li>
          <li>运费设置</li>
          <li>支付宝、微信会员卡</li>
          <li>电子储值卡</li>
          <li>会员管理/会员等级</li>
          <li>优惠券与营销</li>
          <li>消费积分</li>
          <li>公众号绑定</li>
          <li><b>店铺样式及功能定制(额外收费)</b></li>
        </ul>
        <a href="/brand/enter" class="btn btn-block btn-warning">品牌入驻</a>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="my-0">专业版</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">￥7188/年 <small class="text-muted">适用于1~20家门店的中型商户</small></h5>
        <ul class="list-unstyled mt-3 mb-4" style="min-height: 250px;">
          <li class="text-success font-weight-bold">覆盖全部基础版功能</li>
          <li class="text-success font-weight-bold">5*8 技术专家支持</li>
          <li>支持消费数1000笔/日（超额可继续使用）</li>
          <li>支持App独立/App内嵌版</li>
          <li>不限分店数</li>
          <li>不限商品数量</li>
          <br/>
          <li class="text-primary">大型商户（日消费笔数超1000次）请对接爱优店商务。</li>
          <li><b>店铺样式及功能定制(额外收费)</b></li>
        </ul>
        <a href="/brand/enter" class="btn btn-block btn-warning">品牌入驻</a>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="my-0">品牌定制</h5>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title">按功能模块定价</h4>
        <ul class="list-unstyled mt-3 mb-4" style="min-height: 250px;">
          <li>品牌数字化转型</li>
          <li>O2O移动营销解决方案</li>
          <li>移动营销支付赋能</li>
          <li>SCRM规划及整合</li>
          <li>大数据挖掘及营销应用</li>
          <li>AI人工智能应用</li>
          <li>欢迎您咨询其他...</li>
        </ul>
        <a class="btn btn-block btn-dark" href="/contact_us">联系我们</a>
      </div>
    </div>
  </div>
    </div>
    </div>
    </div>
</%block>