<script src="/static/lib/jquery.min.js"></script>

<script src="/static/lib/angular.min.js"></script>

<script src="/static/lib/angular-ui-router.min.js"></script>
<script src="/static/lib/angular-sanitize.1.3.15.min.js"></script>
<script src="/static/lib/moment.2.5.1.min.js"></script>
<script src="/static/lib/URI.1.12.1.min.js"></script>

<script src="${static_url("main/js/lib/underscore-min.js")}"></script>

<script src="${static_url("main/js/urls.js")}"></script>
<script src="${static_url("main/js/routes.js")}"></script>

<script src="${static_url("main/js/lib/helper.js")}"></script>
<script src="${static_url("main/js/lib/class.js")}"></script>

<script src="${static_url("main/js/level.js")}"></script>

<script src="${static_url("main/js/app.js")}"></script>


<script src="${static_url("main/js/controllers/base_grid.js")}"></script>
<script src="${static_url("main/js/controllers/base_edit.js")}"></script>

<script src="${static_url("main/js/directives/navigation.js")}"></script>
<script src="${static_url("main/js/directives/ico.js")}"></script>
<script src="${static_url("main/js/directives/dropdown.js")}"></script>
<script src="${static_url("main/js/directives/fadein.js")}"></script>
<script src="${static_url("main/js/directives/mainbody.js")}"></script>
<script src="${static_url("main/js/directives/btn.js")}"></script>
<script src="${static_url("main/js/directives/btminfo.js")}"></script>
<script src="${static_url("main/js/directives/mask.js")}"></script>
<script src="${static_url("main/js/directives/popwindow.js")}"></script>
<script src="${static_url("main/js/directives/check.js")}"></script>
<script src="${static_url("main/js/directives/chk_expand.js")}"></script>
<script src="${static_url("main/js/directives/validation.js")}"></script>
<script src="${static_url("main/js/directives/help.js")}"></script>
<script src="${static_url("main/js/directives/grid.js")}"></script>
<script src="${static_url("main/js/directives/areaselector.js")}"></script>
<script src="${static_url("main/js/directives/hint3.js")}"></script>
<script src="${static_url("main/js/directives/pop_vendor.js")}"></script>
<script src="${static_url("main/js/directives/date.js")}"></script>
<script src="${static_url("main/js/directives/check_btn.js")}"></script>
<script src="${static_url("main/js/directives/calendar.js")}"></script>
<script src="${static_url("main/js/directives/calendar_limit.js")}"></script>
<script src="${static_url("main/js/directives/datetime_cur.js")}"></script>
<script src="${static_url("main/js/directives/pop_customer.js")}"></script>
<script src="${static_url("main/js/directives/navigation_link_notification.js")}"></script>


<script src="${static_url("main/js/directives/cover.js")}"></script>

<script src="${static_url("main/js/directives/tagselector.js")}"></script>
<script src="${static_url("main/js/directives/mainfollow.js")}"></script>
<script src="${static_url("main/js/directives/pop_product.js")}"></script>
<script src="${static_url("main/js/directives/datetime.js")}"></script>
<script src="${static_url("main/js/directives/appentry.js")}"></script>


<script src="${static_url("main/js/controllers/404.js")}"></script>
<script src="${static_url("main/js/controllers/setting.js")}"></script>
<script src="${static_url("main/js/controllers/shipment.js")}"></script>
<script src="${static_url("main/js/controllers/shipment_edit.js")}"></script>

<script src="${static_url("main/js/controllers/product.js")}"></script>
<script src="${static_url("main/js/controllers/product_edit.js")}"></script>
<script src="${static_url("main/js/controllers/product_type.js")}"></script>
<script src="${static_url("main/js/controllers/product_vendor.js")}"></script>

<script src="${static_url("main/js/controllers/customer.js")}"></script>
<script src="${static_url("main/js/controllers/customer_edit.js")}"></script>
<script src="${static_url("main/js/controllers/customer_level.js")}"></script>

<script src="${static_url("main/js/controllers/order.js")}"></script>
<script src="${static_url("main/js/controllers/order_edit.js")}"></script>


<script src="${static_url("main/js/controllers/promotion.js")}"></script>
<script src="${static_url("main/js/controllers/promotion_off.js")}"></script>
<script src="${static_url("main/js/controllers/promotion_discount.js")}"></script>
<script src="${static_url("main/js/controllers/promotion_freeship.js")}"></script>
<script src="${static_url("main/js/controllers/promotion_coupon.js")}"></script>

<script src="${static_url("main/js/controllers/coupon.js")}"></script>
<script src="${static_url("main/js/controllers/coupon_edit.js")}"></script>
<script src="${static_url("main/js/controllers/coupon_single_edit.js")}"></script>
<script src="${static_url("main/js/controllers/stat.js")}"></script>

<script src="${static_url("main/js/controllers/account.js")}"></script>
<script src="${static_url("main/js/controllers/account_edit.js")}"></script>
<script src="${static_url("main/js/controllers/payment.js")}"></script>
<script src="${static_url("main/js/controllers/store.js")}"></script>
<script src="${static_url("main/js/controllers/store_edit.js")}"></script>
<script src="${static_url("main/js/controllers/not_in_plan.js")}"></script>
<script src="${static_url("main/js/controllers/no_permission.js")}"></script>
<script src="${static_url("main/js/controllers/not_owner.js")}"></script>
<script src="${static_url("main/js/controllers/membership.js")}"></script>

<script src="${static_url("main/tinymce5.10/js/tinymce/tinymce.min.js")}"></script>
<script src="/static/lib/tinymce.min.js"></script>


<script src="${static_url("main/js/services/uri.js")}"></script>
<script src="${static_url("main/js/services/popup.js")}"></script>
<script src="${static_url("main/js/services/util.js")}"></script>
<script src="${static_url("main/js/services/time.js")}"></script>
<script src="${static_url("main/js/services/order.js")}"></script>

<script src="${static_url("main/js/preset.js")}"></script>
<script src="${static_url("main/js/area.js")}"></script>