<%inherit file="../_layout.htm"/>
<%block name="head">
<title>智慧门店 - 爱优店 - 品牌电商营销、新媒体营销推广、O2O解决方案的领导者|梅逸科技(上海)有限公司</title>
</%block>

<%block name="main">
  <div class="container">
<div class="position-relative overflow-hidden p-md-5 m-md-3 rounded text-white" style="background:#010100 url(/static/img/brand-retail.jpeg) no-repeat center right;background-size: cover;" >
  <div class="col-md-7 p-lg-3  my-5" style="z-index: 3;">
    <h3>从供应端到消费端 - 推动传统零售变革</h3>
    <p class="lead mb-3">现在就行动，突破边界，快速提升单店坪效，拥抱新零售!</p>
    <a class="btn btn-warning mr-3" href="/brand/enter">品牌入驻</a>
  </div>
   <div class="mask"></div>
</div>


<div class="mt-5 text-center">
  <h5>以品牌营销、收益增⻓为核⼼的智慧门店营销解决⽅案</h5>
  <p class="lead text-muted">微信10亿流量红利助你轻松获客、裂变、营销、复购！</p>
</div>


<div class="marketing">
    <!-- Three columns of text below the carousel -->
<div class="row justify-content-center text-center">
    <div class="col-md-10 col-sm-11">
        <div class="row">
      <div class="col-lg-4">
        <img  class="mb-3" src="/static/img/weixin.png" style="max-width:120px">

        <h6 class="text-success">微信公众号媒体系统</h6>
        <p class="text-black-50">包括强大的定制化和扩展功能</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="mb-3"src="/static/img/pay.png" style="max-width:120px">

        <h6 class="text-success">优化的O2O支付解决方案</h6>
        <p class="text-black-50">支持多个平台的支付系统、多项支付后延伸的SCRM的功能</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="mb-3" src="/static/img/bigdata.png" style="max-width:120px">

        <h6 class="text-success">强大数据库、深入洞查</h6>
        <p class="text-black-50">基于大数据为企业提供精准营销策略</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div>
    </div>
    </div>

<div class="mt-4 text-center">
    <a href="/brand/enter"  class="btn btn-warning btn-lg">品牌入驻</a>
</div>
<hr/>
<div class="mt-4 p-4" >
  <div class="row align-items-center">
    <div class="col-md-6">
  <img src="/static/img/store.png" style="max-width:480px;" class="img-fluid store">
    </div>
    <div class="col-md-6">
        <h5 class="card-title">微商城+零售整体业务系统架构概览</h5>
        <p class="card-text text-black-50">微信10亿流量红利助你轻松获客、裂变、营销、复购！</p>
    </div>
  </div>
</div>
<hr/>

<div class="mt-4 p-4" >
  <div class="row align-items-center">
    <div class="col-md-6 text-right pr-2">
 <h5 class="card-title">爱优店品牌数字化深度定制的解决方案</h5>
        <p class="card-text text-black-50">满足品牌微商城建设、品牌营销、移动支付核心需求<br/>全方位的业务系统：具有可扩展及可定制化。<br/>系统支撑千万级请求和会员互动、并100%确保流水追溯。</p>
    </div>
    <div class="col-md-6">
       <img src="/static/img/module.png" style="max-width:320px" class="img-fluid">
    </div>
  </div>
</div>
<hr/>

<div class="mt-4 p-4" >
  <div class="row align-items-center">
    <div class="col-md-6">
  <img src="/static/img/ai-store.png" style="max-width:480px;" class="img-fluid store">
    </div>
    <div class="col-md-6">
        <h5 class="card-title">微商城+零售整体业务系统架构概览</h5>
        <p class="card-text text-black-50">微信10亿流量红利助你轻松获客、裂变、营销、复购！</p>
    </div>
  </div>
</div>
<hr/>
<div class="mt-4 p-4" >
  <div class="text-center">
  <h5>线下智慧门店：CRM整合</h5>
  <p class="lead text-muted">完整的库存系统、收银台、POS机无缝接入</p>
</div>
  <div class="text-center mt-2">
    <img src="/static/img/pay-system.png" style="max-width:620px" class="img-fluid">
</div>
  </div>
  </div>
</%block>