<%inherit file="../_layout.htm"/>
<%block name="head">
<title>微商城系统- 爱优店 - 品牌电商营销、新媒体营销推广、O2O解决方案的领导者|梅逸科技(上海)有限公司</title>
</%block>

<%block name="main">
<div class="container">
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 rounded text-white" style="background: #1ab74e;">
  <div class="col-md-7 p-lg-3  my-5" style="z-index: 3;">
    <h1 class="display-4">优店微商城</h1>
    <p class="lead mb-3">值得信赖的私域营销专家,赋能品牌深度o2o营销能力</p>
    <p class="lead mb-3">
        <span class="mr-2"><i class="bi bi-bag-check-fill"></i> 费用公开透明</span>
        <span class="mr-2"><i class="bi bi-box-seam"></i> 品牌深度定制</span>
        <span class=""><i class="bi bi-lightning-charge-fill"></i> 服务安全稳定</span>
    </p>
     <a class="btn btn-light mr-3"  href="/contact_us">联系我们</a>
    <a class="btn btn-warning" href="/brand/enter">品牌入驻</a>
    
  </div>
  <div class="product-device product-device-1 shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="mt-5 text-center">
  <h4>极速开店：无需技术开发，快速搭建小程序商城</h4>
  <p class="lead text-muted">微信10亿流量红利助你轻松获客、裂变、营销、复购！</p>
</div>


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
<div class="row justify-content-center text-center">
    <div class="col-md-10 col-sm-11">
        <div class="row">
      <div class="col-lg-4">
        <img  class="mb-3" src="http://img.yzcdn.cn/static/intro/img/weapp/v3/entry_1@2x.png" style="width:80px">

        <h6>60+入口实现快速获客</h6>
        <p class="text-muted">微信首页任务栏等6大小程序专属入口，让10亿用户轻松发现你</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="mb-3"src="http://img.yzcdn.cn/static/intro/img/weapp/v3/entry_2@2x.png" style="width:80px">

        <h6>一体化营销加速流量裂变</h6>
        <p class="text-muted">公众号、小程序、微信群互联互通，流量变现快速高效</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="mb-3" src="http://img.yzcdn.cn/static/intro/img/weapp/v3/entry_3@2x.png" style="width:80px">

        <h6>更佳体验提升付费转化</h6>
        <p class="text-muted">产品深度定制，提高营销能力及订单转化率</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div>
    </div>
    </div>



<div class="mt-5 text-center">
    <a  href="/brand/enter" class="btn btn-warning btn-lg">品牌入驻</a>
</div>

  </div>

<div class="wxs p-5 mt-5" style="background:#efefef">
    <div class="text-center">
      <h3>全行业、多形式的微信商店支持</h3>
      <p class="lead text-muted">让品牌扩展范围更广</p>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx1.jpeg" class="img-fluid"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx2.jpeg" class="img-fluid"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx3.jpeg" class="img-fluid"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx4.png" class="img-fluid"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx5.jpeg" class="img-fluid"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/wx6.jpeg" class="img-fluid"></div>
    </div>
</div>
<div class="container">

<div style="border-radius: 6px;" class="text-center">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h4 >微商城+零售整体业务系统架构概览</h4>
  <p class="lead text-muted">全方位的业务系统：具有可扩展及可定制化。<br/>系统支撑千万级请求和会员互动、并100%确保流水追溯。</p>
</div>

    <img src="/static/img/store.png" class="img-fluid store">
    </div>

<hr>
<div class="container functions mx-auto text-center">

      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h4>核心系统：商城后台能力解析</h4>
  <p class="lead text-muted">为品牌定制的商城能力，打通线下门店收银及微信内订单、营销、统计等核心功能</p>
</div>


<div class="row">
 
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        基础设置
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        权限管理
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        分店功能
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        数据分析统计
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        核心报表
      </div>
    </div>
  </div>

</div>
<div class="row">
 
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        商品基础管理
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        商品分类
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        品牌
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        SKU设置
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        运费模板
      </div>
    </div>
  </div>

</div>


<div class="row">
 
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        满减
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        满折
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        免邮
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        满赠券
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        普通劵
      </div>
    </div>
  </div>

   <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        复用券
      </div>
    </div>
  </div>

</div>

<div class="row">
 
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        用户成长体系
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        积分
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        成交统计
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        经验值
      </div>
    </div>
  </div>


</div>


<div class="row">
 
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        订单详情
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        包裹拆解
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        物流跟踪
      </div>
    </div>
  </div>

    <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        退单
      </div>
    </div>
  </div>

 <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-center" >
        改价
      </div>
    </div>
  </div>

</div>

    </div>


  </div>
</%block>