<%inherit file="../_layout.htm"/>
<%block name="head">
<title>创建店铺成功</title>
</%block>
<%block name="main">

    <div class="container shops-container">
  <div class="row justify-content-center">

<div class="col-9">
    <div class="page-header">
        <h4>创建店铺成功<small></small></h4>
    </div>

        <div class="success-message">
            <p>您申请的为免费版店铺，可以使用商品、订单、营销等功能，</p>
            <p>升级到付费版，可以使用分级营销以及获得 5x8小时的人工服务</p>
            <div class="blank10"></div>
            <p>
                <a href="/my/shops" class="btn  btn-light">返回”商铺列表“</a>&nbsp;
                <a href="/my/shop/${vid}" class="btn btn-success ">管理商铺</a>&nbsp;
            </p>
        </div>
    </div>
    </div>
    </div>

</%block>