<div class="pop-product-wrap">
  <div class="pop-product-win" ng-click="clickWin($event)" ng-class="popWinClass">
    <div class="pop-product-list">
      <div class="pop-product-list-header">
        <div class="pop-product-list-title"> <span class="pop-product-list-title-text">{{data.title}}的商品</span><span ng-class="listProducts.length == 0 ? 'hidden':''" class="pop-product-list-title-count" you-hint="{{data.title}}的商品共{{listProducts.length}}个"><span class="text-count">{{listProducts.length}}</span></span> <span class="pop-product-list-title-drag">拖动 <i class="ico ico-nav-drag-border" style="top: 3px;"></i> 可调整排列顺序</span> </div>
        <div class="pop-product-list-op">
          <you-btn text="清空列表" ng-click="removeListProducts()" ng-disabled="listProducts.length == 0"></you-btn>
          <div class="pop-product-list-sort">
            <!--<you-btn text="排序" ng-click="clickListOrderBtn($event)" ng-disabled="listProducts.length == 0"></you-btn> -->
            <div class="pop-product-list-sort-list" ng-if="showListOrder">
              <div class="pop-product-list-sort-item" ng-repeat="order in listOrders" ng-click="changeListOrder(order)">{{order.text}}</div> <i class="ico ico-arrow-6"></i> </div>
          </div>
          <div class="pop-product-list-search">
            <input class="input input-long" placeholder="商品名" ng-model="listSearch" ng-change="changeListSearch()" you-validation="trim" /> <i class="ico ico-search-1"></i> <i class="ico ico-remove-2" ng-show="listSearch" ng-click="clickListSearchRemove()"></i> </div>
        </div>
      </div>
      <div class="pop-product-list-selected">
        <div ng-repeat="i in listProducts" ng-if="!i.isHidden">
          <div class="pop-product-list-item-sep" ng-show="i.isDragOverUp"></div>
          <div class="pop-product-list-item" ng-disabled="listSearch">
            <div class="pop-product-list-item-text"><span title="{{i.name}}">{{i.name}}</span></div>
            <a target="_blank" href="{{i.page_url}}"><img class="pop-product-list-item-img" ng-src="{{i.img}}" /></a> <span class="pop-product-list-item-op"><i class="ico ico-movetop" ng-mousedown="stopPropagation($event)" title="移至顶部" ng-click="moveListProductTop(i)"></i>      <i ng-mousedown="stopPropagation($event)" class="ico ico-movebottom" title="移至底部" ng-click="moveListProductBottom(i)"></i>      <i ng-mousedown="stopPropagation($event)" class="ico ico-remove-1" title="移除" ng-click="clickRemoveListProduct(i)"></i>     </span> </div>
          <div class="pop-product-list-item-sep" ng-show="i.isDragOverDown"></div>
        </div>
        <div ng-if="listProducts.length == 0 && !listSearch" class="pop-product-list-none">
          <div><span class="pop-product-list-none-img"></span></div>
          <div class="pop-product-list-none-text">请在右侧选择要{{data.title}}的商品</div>
        </div>
      </div>
      <div class="pop-product-list-foot">
        <div class="pop-product-list-foot-tip" ng-if="data.footerTip">{{ data.footerTip }}</div>
        <you-btn type="primary" text="确定" ng-click="popSave()"></you-btn>
        <you-btn text="取消" ng-click="popCancel()"></you-btn>
      </div>
    </div>
    <div class="pop-product-content">
      <div class="pop-product-tabs">
        <div class="pop-product-tab" ng-repeat="tab in tabs" ng-class="isTabSelected(tab)" ng-click="changeTab(tab)">{{tab.text}}</div>
      </div>
      <div class="pop-product-grid" ng-show="showGrid">
        <div class="pop-product-grid-header" ng-class="tab.value == 0 ? 'pop-product-grid-header-2':''">
          <div class="pop-product-grid-header-title"> <span ng-show="tab.value == 0" class="pop-product-grid-header-title-tab">全部商品</span> <span ng-show="tab.value != 0">      <span class="pop-product-grid-header-title-tab-link" ng-click="clickGridGoFolder()">全部{{tab.name}}</span> <i class="ico ico-arrow-7" class="pop-product-grid-header-title-arrow"></i> <span class="pop-product-grid-header-title-text" title="{{folder.name}}">{{folder.name}}</span> </span> <span class="pop-product-grid-header-title-count" you-hint="该{{tab.name}}共{{gridProductData.item_count}}个商品，{{data.title}}的商品共{{gridProductData.item_selected_count}}个"><span class="text-count">{{gridProductData.item_selected_count}}/{{gridProductData.item_count}}</span></span> <a target="_blank" href="{{folder.page_url}}" title="去网站查看此{{tab.name}}"><i class="ico ico-open-2 pop-product-grid-header-title-open" ng-show="tab.value != 0"></i></a> </div>
          <div class="pop-product-grid-header-op" ng-show="tab.value != 0">
            <you-btn text="全部参与" ng-click="gridIncludeAll()"></you-btn>
            <you-btn text="全部不参与" ng-click="gridExcludeAll()"></you-btn>
          </div>
          <div class="pop-product-grid-header-show-selected">
            <label>
              <input type="checkbox" you-check ng-model="isGridShowSelected" ng-click="gridShowSelected()"> 只显示已选的商品</label>
          </div>
          <div class="pop-product-grid-header-search">
            <input type="text" class="input input-long" placeholder="商品名" ng-model="gridSearch" ng-change="changeGridSearch()" you-validation="trim" /> <i class="ico ico-search-1"></i> <i class="ico ico-remove-2" ng-show="gridSearch" ng-click="clickGridSearchRemove()"></i> </div>
        </div>
        <div class="pop-product-grid-table">
          <div ng-show="gridProducts && gridProducts.length > 0">
            <div ng-if="tab.value == 3 && showGrid" class="pop-product-grid-table-discount"> 营销规则：<span class="pop-product-grid-table-discount-rule" title="{{getGridDiscountRuleText()}}">{{getGridDiscountRuleText()}}</span> <i class="ico ico-time-1"></i> <span ng-show="folder.expired_at == null" you-hint="{{folder.actived_at | date:'yyyy/MM/dd'}} - 永久">活动时间</span> <span ng-show="folder.expired_at != null" you-hint="{{folder.actived_at | date:'yyyy/MM/dd'}} - {{folder.expired_at | date:'yyyy/MM/dd'}}">活动时间</span> </div>
            <div class="table">
              <table>
                <colgroup>
                  <col>
                  <col width="16%">
                  <col width="18%">
                  <col width="16%">
                  <col width="40">
                </colgroup>
                <thead>
                  <tr>
                    <th style="padding-left: 15px;"><span class="table-order" ng-click="setGridOrder('name')">商品名<span ng-class="getGridOrderClass('name')"></span></span>
                    </th>
                    <th><span class="table-order" ng-click="setGridOrder('price_min')">价格<span ng-class="getGridOrderClass('price_min')"></span></span>
                    </th>
                    <th><span class="table-order" ng-click="setGridOrder('stock_sum')">库存<span ng-class="getGridOrderClass('stock_sum')"></span></span>
                    </th>
                    <th><span class="table-order" ng-click="setGridOrder('vendors')">品牌<span ng-class="getGridOrderClass('vendors')"></span></span>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in gridProducts" ng-class="isGridProductSelected(product)" ng-click="clickGridProduct(product)">
                    <td style="position: relative;"> <i class="ico ico-selected-1 pop-product-grid-table-selected" ng-show="product.selected"></i>
                      <div class="pop-product-grid-table-thumbnail"><img ng-src="{{product.img}}">
                        <you-cover></you-cover>
                      </div> <span class="text-status text-status-invalid" ng-if="!product.visibility">已下架</span> <span style="color: #4499dd;" title="{{HTMLDECODE(product.name)}}">{{HTMLDECODE(product.name)}}</span> </td>
                    <td> <span ng-if="product.price_min == product.price_max" title="{{YouPreset.$()}}{{product.price_min / 100}}"><span class="pop-product-grid-table-money">{{YouPreset.$()}}</span>{{product.price_min / 100}}</span> <span ng-if="product.price_min != product.price_max" title="{{YouPreset.$()}}{{product.price_min / 100}}-{{YouPreset.$()}}{{product.price_max / 100}}"><span class="pop-product-grid-table-money">{{YouPreset.$()}}</span>{{product.price_min / 100}}<span class="pop-product-grid-table-money">-{{YouPreset.$()}}</span>{{product.price_max / 100}}</span>
                    </td>
                    <td><span title="{{getGridStockText(product)}}">{{getGridStockText(product)}}</span></td>
                    <td><span title="{{product.vendors}}">{{product.vendors}}</span><span ng-if="!product.vendors">-</span></td>
                    <td><a class="pop-product-grid-item-open" target="_blank" title="去网站查看此商品" href="{{product.page_url}}" ng-click="$event.stopPropagation();"><i class="ico ico-open2"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pop-product-grid-pagination">
              <you-pagination data="gridPagination"></you-pagination>
            </div>
          </div>
          <div class="pop-product-folder-none" ng-show="gridProducts.length === 0 && !gridSearch && !isGridShowSelected">
            <div class="pop-product-folder-none-title">你暂时没有创建过商品</div>
            <div class="pop-product-folder-none-title-sub">需要创建商品后才可选择</div>
            <div class="pop-product-folder-none-jump">
              <a target="_blank" href="#/product">
                <you-btn type="primary" text="商品管理"></you-btn>
              </a>
            </div>
          </div>
          <div ng-if="gridProducts.length == 0 && (gridSearch || isGridShowSelected)" class="pop-product-folder-search-none">
            <div class="pop-product-folder-search-none-title">查到不到相关内容</div>
          </div>
        </div>
      </div>
      <div class="pop-product-folder" ng-show="showFolder">
        <div class="pop-product-folder-header"> <span class="pop-product-folder-header-title">全部{{tab.name}}</span>
          <div class="pop-product-folder-header-op">
            <div class="pop-product-folder-header-op-search">
              <input type="text" class="input input-long" placeholder="{{tab.name}}名" ng-model="folderSearch" ng-change="changeFolderSearch()" you-validation="trim"> <i class="ico ico-search-1"></i> <i class="ico ico-remove-2" ng-show="folderSearch" ng-click="clickFolderSearchRemove()"></i> </div>
          </div>
        </div>
        <div class="pop-product-folder-list clearfix">
          <div class="pop-product-folder-list-item" ng-repeat="folder in folders">
            <div class="pop-product-folder-list-item-imgs" ng-click="clickFolder(folder)"> <img ng-repeat="img in folder.imgs" ng-src="{{img.url}}" /> </div>
            <div class="pop-product-folder-list-item-info">
              <div class="pop-product-folder-list-item-info-name" title="{{folder.name}}">{{folder.name}}</div>
              <div class="pop-product-folder-list-item-info-count" you-hint="该{{tab.name}}共{{folder.total}}个商品，<br>{{data.title}}的商品共{{folder.selected}}个"><span class="text-count" ng-class="folder.selected == 0?'disabled':''">{{folder.selected}}/{{folder.total}}</span></div>
              <div class="pop-product-folder-list-item-info-date" ng-if="tab.value == 3"> <span class="pop-product-folder-list-item-info-discount t-n" folder.discount_type ">{{getDiscountTypeText(folder.discount_type)}}</span>        <span>{{folder.created_at | date:'yyyy/MM/dd'}}</span>       </div>       <div class="pop-product-folder-list-item-info-date " ng-if="tab.value==4 ">        {{folder.created_at | date:'yyyy/MM/dd'}}       </div>      </div>     </div>     <div ng-show="folders.length> 0" class="clearfix pop-product-folder-pagination">
                <you-pagination data="folderPagination"></you-pagination>
              </div>
              <div ng-if="showFolder && folders.length == 0 && !folderSearch" class="pop-product-folder-none">
                <div class="pop-product-folder-none-title"> <span ng-show="tab.value === 1 || tab.value === 2">你暂时没有为商品设置{{tab.name}}</span> <span ng-show="tab.value === 3">你暂时没有创建过营销活动</span> <span ng-show="tab.value === 4">你暂时没有创建过自定义页面</span> </div>
                <div class="pop-product-folder-none-title-sub"> <span ng-show="tab.value === 1">为了方便管理，推荐你为商品用心设置好分类哦</span> <span ng-show="tab.value === 2">如销售的商品不止一个品牌，推荐你设置品牌方便管理</span> <span ng-show="tab.value === 3 || tab.value === 4">这里将方便你在以往创建的{{tab.name}}中挑选商品</span> </div>
                <div class="pop-product-folder-none-jump">
                  <you-btn type="primary" text="到全部商品中挑选" ng-click="changeTab(tabs[0])"></you-btn>
                </div>
              </div>
              <div ng-if="showFolder && folders.length == 0 && folderSearch" class="pop-product-folder-search-none">
                <div class="pop-product-folder-search-none-title">查到不到相关内容</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <you-mask type="black"></you-mask>
    </div>
