<%inherit file="_layout.htm"/>
<%block name="head">
<title>爱优店赔付协议 - 品牌电商营销、新媒体营销推广、O2O解决方案的领导者|梅逸科技(上海)有限公司</title>
</%block>

<%block name="main">
<div class="container">
<div class="row mt-5 justify-content-center">
  <div class="col-10">
   <div class="page-header">
    <h3>爱优店赔付协议 <small class="text-secondary">v2011/12/24版 <a href="/static/iyoudian_compensate_20211224.pdf">pdf版下载</a></small> </h3>
  </div>
   <p>爱优店自成立起，便将客户支付稳定、数据安全、销售流水100%准确放在首位，<br/> 系统稳定高于一切是我们始终坚持不变的信条。</p>

   <p>为贯彻“值得信任的私域营销专家”信条，我们为客户服务制定以下赔付计划，使客户放心及利益不受损失。</p>

   <hr>
   <h4 class="mt-4">爱优店 Service Level Agreement</h4>
   服务水平协议（以下简称SLA）

   <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" width="10%">故障等级</th>
      <th scope="col" width="40%">故障描述</th>
      <th scope="col" width="10%">响应时间</th>
      <th scope="col" width="10%">恢复时间</th>
      <th scope="col" width="25%">爱优店责任承担</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">P1高</th>
      <td><span class="text-primary">在门店营业时间内，持续15分钟，所有门店无法完成任何移动支付的付款。</span><br/>付款方式包括：POS机调用乙方支付收款接口，及其它任何替代收款方案（如爱优店+/固定二维码收款/远程收款功能）</td>
      <td>7*24<br/>15min</td>
      <td>1h</td>
      <td>若在约定的恢复时间无法完成修复，则乙方需依照实际故障时间，<span class="text-primary">按每小时赔偿甲方1万元。</span></td>
    </tr>
    <tr>
      <th scope="row">P2高</th>
      <td><span class="text-primary">在门店营业时间内，持续15分钟，所有门店无法使用POS机调用乙方支付收款接口，实现任何移动支付；
      但门店仍可使用乙方提供的其它替代收款方案</span>（如爱优店+/固定二维码收款/远程收款功能）完成收款功能。</td>
      <td>7*24<br/>15min</td>
      <td>2h</td>
      <td>若在约定的恢复时间无法完成修复，则乙方需依照实际故障时间，<span class="text-primary">按每小时赔偿甲方5000元。</span></td>
    </tr>
    <tr>
      <th scope="row">P3中</th>
      <td>依据乙方支付日志：
乙方支付接口无响应或返回数据格式异常或响应时间超过15秒。
该情况一天内占比总请求量超过1%以上</td>
      <td>7*24<br/>15min</td>
      <td>5h</td>
      <td>此类故障在一个月内连续出现三次（及以上），乙方需主动出具故障说明书、及拟采取的改进措施，向客户正式书面说明。</td>
    </tr>

     <tr>
      <th scope="row">P4 低</th>
      <td>乙方支付后台无法完全无法进入使用。但不影响门店端正常交易，且乙方支付接口正常。</td>
      <td>7*24<br/>1h</td>
      <td>8h</td>
      <td>此类故障在一个月内连续出现三次（及以上），乙方需邮件向客户解释原因及拟采取的改进措施。</td>
    </tr>

     <tr>
      <th scope="row">P4 低</th>
      <td>乙方支付后台除了付款与退款功能之外，其他功能不可用的情况（如：后台人员管理、报表下载等），出现超过30分钟以上故障。</td>
      <td>7*24<br/>2h</td>
      <td>12h</td>
      <td>此类故障在一个月内连续出现三次（及以上），乙方需邮件向客户解释原因及拟采取的改进措施。</td>
    </tr>


  </tbody>
</table>

  <h4 class="mt-4">免责情况</h4>
  <p>当发生以下情况，导致乙方无法在约定的故障恢复时间完成修复，则乙方不需要承担赔偿责任，但乙方仍需积极协助排除故障。</p>
  <ul>
    <li>1) 爱优店免费版、体验版、以及试用期或系统调试器范围内不在此赔付计划内</li>
    <li>2）爱优店预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练</li>
    <li>3）任何爱优店所属设备以外的网络、设备故障或配置调整引起的，如当地断网断电、当地网络故障情况等人力不可抗拒因素；</li>
    <li>4）爱优店预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练</li>
    <li>5）若遇到大型活动，可能涉及到流量激增的，你应至少提前三个工作日通知爱优店，若你未及时通知爱优店引起的系统宕机，由甲方自行承担。</li>
    <li>6）由于爱优店合作的或者商家自己合作的第三方提供的服务故障引起的，如支付宝、微信、云服务器等故障；</li>
    <li>7）用户的应用程序或数据信息受到黑客攻击而引起的</li>
    <li>8）用户维护、操作不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的</li>
    <li>9）由自然原因等不可抗力以及意外事件引起的</li>
    <li>10）由于政府管制、政策原因等引起的</li>
  </ul>
  <small class="text-muted">在法律允许的范围内，本规则的最终解释权归爱优店所有。</small>

</div>
  </div>
  </div>
</%block>