<%inherit file="_layout.htm"/>
<%block name="head">
<title>爱优店 - 值得信赖的私域营销专家、品牌门店数字化营销、O2O解决方案的领导者|梅逸科技(上海)有限公司</title>
</%block>
<%block name="main">
<div class="container">
<div class="position-relative overflow-hidden p-md-5 m-md-3 rounded text-white home-focus" >
  <div class="col-md-7 p-lg-3 my-5" style="z-index:3">
    <h1 class="display-4">智慧门店</h1>
    <p class="lead">值得信赖的私域营销专家,赋能品牌深度全域增长。</p>
    <p class="lead mb-5">
        <span class="mr-2"><i class="bi bi-bag-check-fill"></i> 费用公开透明</span>
        <span class="mr-2"><i class="bi bi-box-seam"></i> 品牌深度定制</span>
        <span><i class="bi bi-lightning-charge-fill"></i> 服务安全稳定</span>
    </p>
    <a class="btn btn-light mr-3" href="/contact_us">联系我们</a>
    <a class="btn btn-warning " href="/brand/enter">品牌入驻</a>
  </div>
  <div class="mask"></div>
</div>

<div class="mt-5 text-center">
  <h3>3年技术沉淀 可信任的私域营销专家</h3>
  <p class="lead text-muted">系统稳定高于一切，让商家经营的放心</p>
</div>

<div class="protect text-center mt-4 ">
  <p class="text-muted">爱优店护航：护航店铺稳定、数据安全、消费者体验，服务中断赔付 <a href="/compensate">查看</a></p>
</div>

<div class="container text-center mt-5 power">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-6 col-md-3">
        <h3 class="text-success">10万+</h3>
        <p class="text-black-50">日均处理请求超过10万次<br/>系统可用性达99.999%</p>
      </div>
      <div class="col-6 col-md-3">
        <h3 class="text-success">300万+</h3>
        <p class="text-black-50">交易额月超300万 <br/>资金流水100%确保精确</p>
      </div>
      <div class="col-6 col-md-3">
        <h3 class="text-success">5000次+</h3>
        <p class="text-black-50">每秒超过5000次订单处理能力</p>
      </div>
      <div class="col-6 col-md-3">
        <h3 class="text-success">10+服务商</h3>
        <p class="text-black-50">10+平台注册服务商，交易安全有保障</p>
      </div>
    </div>
  </div>

<hr/>

<div class="container mt-5">
<div class="text-center">
  <h3>开店就选爱优店服务</h3>
  <p class="lead text-muted">适用于多行业、线上、线下结合一体的解决方案</p>
</div>

<div class="row">
    <div class="col-md-3 col-6">
        <div class="card">
            <a href="/products/store">
                <img src="/static/img/shop3.jpeg" class="card-img-top"></a>
            <div class="card-body">
                <h6 class="card-title text-center"><a href="/products/store">零售经营</a></h6>
                <p class="card-text text-black-50">会员卡、优惠券、积分...以收银台、集成支付为基础全场景的支付营销解决方案</p>
            </div>
            </a>
        </div>
    </div>
   
<div class="col-md-3 col-6">
    <div class="card">
        <a href="/products/store">
            <img src="/static/img/shop2.jpeg" class="card-img-top"></a>
        <div class="card-body">
            <h6 class="card-title text-center"><a href="/products/store">餐饮连锁</a></h6>
            <p class="card-text text-black-50">扫码点餐、配送、云商城、支付结单、会员营销等适用于餐饮行业的私域营销系统</p>
        </div>
        </a>
    </div>
</div>

<div class="col-md-3 col-6">
    <div class="card">
        <a href="/products/store">
            <img src="/static/img/shop1.jpeg" class="card-img-top"></a>
            <div class="card-body">
                <h6 class="card-title text-center"><a href="/products/store">大型商超</a></h6>
                <p class="card-text text-black-50">超10000每秒的订单处理能力，100%确保资金流水精确。对数据深入挖掘，会员精准营销。</p>
            </div>
        
    </div>
</div>

<div class="col-md-3 col-6">
    <div class="card">
        <a href="/products/weapp"><img src="/static/img/shop4.jpeg" class="card-img-top"></a>
            <div class="card-body">
                <h6 class="card-title text-center"> <a href="/products/weapp">微店小程序</a></h6>
                <p class="card-text text-black-50">公众号绑定、库存、订单、会员、营销、活动等丰富功能支持。</p>
            </div>
       
    </div>
</div>

</div>
</div> <!-- end 行业-->


<div class="container mt-5 service">
    <div class="text-center">
      <h3>微信、支付宝等品牌服务商</h3>
      <p class="lead text-muted">多平台支持、让品牌扩展范围更广</p>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s1.png"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s2.png"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s3.png"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s4.png"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s5.png"></div>
        <div class="col-lg-2 col-md-4 col-6"><img src="/static/img/s6.png"></div>
    </div>
</div>
<div class="container mt-5 border ">
    <div class="row">
        <div class="col-md-6 border-right d-none d-md-block">
            <div class="mt-5 text-center">
                <h6>微信扫码联系</h6>
                <p class="text-muted">微信联系我们的营销专家</p>
                <p><img src="/static/www/qrcode.png" class="qrcode"></p>
            </div>
        </div>
        <div class="col-md-6">
           <form class="ml-5" id="postform" action="/brand/enter">
                <div class="mt-5">
                    <h6>留下您的联系方式</h6>
                    <p class="text-muted">我们会在24小时内与您联系</p>
                </div>
     
        <div class="form-group col-md-6">
       <div class="row">
            <input type="text" id="brand" name="brand"  data-bv-notempty="true" data-bv-notempty-message="品牌名称不能为空" placeholder="请输入品牌名称" class="form-control"></div>
        </div>

  
      <div class="form-group col-md-6">
         <div class="row"><input class="form-control"
            data-bv-regexp="true"
            data-bv-regexp-regexp="^[1][3,4,5,6,7,8,9][0-9]{9}$"
            data-bv-regexp-message="手机号格式错误"
            data-bv-notempty="true" 
            data-bv-notempty-message="手机号不能为空" id="phone" name="phone" placeholder="请输入手机号" type="text" value=""></div>
      </div>
                    <div class="form-group clearfix">
         <div class="row">
          <div class="col-8">
            <div class="input-group">
      <input class="form-control" data-bv-notempty="true" data-bv-notempty-message="短信验证码不能为" id="valid_code" name="valid_code" placeholder="请填写短信验证码！" required type="text" value="">
         <div class="input-group-append">
    <button id="sms-button" class="btn btn-outline-secondary"  onclick="sendCode(this, 'entry')"  type="button">获取手机验证码</button>
  </div>

  </div>
  </div>

  </div>
  </div>

      <div class="form-group">
         <button type="submit" id="submit" class="btn btn-warning " >预约开店顾问</button>
      </div>
</form>

<div id="guestbook" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">预约成功</h5>
                <button id="post" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                我们的营销专家会在24小时内与您联系，谢谢支持！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                               
            </div>
                                                   
        </div>
    </div>
</div>
    </div>
</div>
</div>
    </div>
<!-- end lianxi-->
</%block>
<%block name="foot">

<script type="text/javascript">
$(function(){
    $('#postform').bootstrapValidator({}).on('success.form.bv', function(e) {
        
        e.preventDefault();
        var $form = $(e.target);
        $.post($form.attr('action'), $form.serialize(), function(result) {
            let title = "预约成功";
            let message="我们的营销专家会在24小时内与您联系，谢谢支持！";
            if(res.code == 201) {
                title = "预约失败"
                message = "抱歉，请输入正确的短信验证码"
            }
            $(".modal-title").html(title);
            $(".modal-body").html(message);
            $('#guestbook').modal({});
            return true;
        }, 'json');
    });;
   
});
</script>
<script src="${static_url("www/global.js")}"></script>
</%block>
