<%inherit file="../_layout.htm"/>
<%block name="head">
<title>找回密码</title>
</%block>

<%block name="main">
<div class="container">
  <div class="row justify-content-center">
<div class="col-md-6 col-sm-11">
<div class="page-header">
       <h3>找回密码</h3>
</div>

      <%include file="/include/notice.htm" />
     <form action="" method="POST" class="form" id="postform">
  <div class="form-group">
  <label for="password">注册的手机号<span style="color:#999">（请填写真实的手机号，否则收不到短信验证码）</span></label>
     <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">+86</div>
        </div>
       ${form.account(class_="form-control",**{
        "data-bv-notempty":"true",
        "data-bv-notempty-message":"请输入手机号",
        "placeholder":"该手机号仅登录用，不会公开"
        })}
      </div>
    </div>

         <div class="form-group clearfix">
         <div class="row">
          <div class="col-9">
            <div class="input-group">
       ${form.valid_code(class_="form-control",**{
        "data-bv-notempty":"true",
        "data-bv-notempty-message":"短信验证码不能为",
        "placeholder":"请填写短信验证码！"
        })}
         <div class="input-group-append">
    <button id="sms-button" class="btn btn-outline-secondary"  onclick="sendCode(this, 'forget_password')"  type="button">获取手机验证码</button>
  </div>

  </div>
  </div>

  </div>
   <span id="helpBlock"></span>
  </div>

                  <div class="form-group">
            <label for="password">新密码</label>
            ${form.password(class_="form-control",**{
        "data-bv-notempty":"true",
        "data-bv-notempty-message":"密码不能为空",
        "placeholder":"建议数字字母组合 (6到12位)"
        })}
          </div>
    
      <div class="form-group">
            <label for="password">重复新密码</label>
            
               ${form.repassword(class_="form-control",**{
        "data-bv-notempty":"true",
        "data-bv-notempty-message":"密码不能为空",
        "placeholder":"重复上面的密码"
        })}
         
          </div>

          
         <div class="form-group">
            <label for="captcha">验证码</label>
            <div class="row">
              <div class="col-5">
                <input type="text" class="form-control" bootstrap-validator name="captcha" id="captcha" placeholder="请填写左图数字">
                <span class="text-muted"><small>不限大小写</small></span>
              </div>
              <div class="col-6">
              <img src="/auth/captcha?type=forget_password" style="cursor: pointer;" width="100" id="valid_img">
                <a href="javascript:;" id="valid_link">看不清图片？ 换一个</a>
              </div>
            </div>
          </div>
          <div class="blank10"></div>
          ${xsrf_form_html()}
          <button type="submit" class="btn btn-success btn-lg">确认重置密码</button>

  </form>
 </div>
   </div></div>
</%block>
<%block name="foot">
<script type="text/javascript">
$(function(){
    $('#postform').bootstrapValidator({});
    $("#valid_img,#valid_link").click(function(){
        var timestamp = new Date().getTime();
        $("#valid_img").attr('src',$("#valid_img").attr('src') + '&' +timestamp );
      });
});
</script>
<script src="/static/www/global.js"></script>

</%block>